.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}



.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #02007b;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #02007b;
}

.section__text {
    font-size: 16px;
    font-weight: 600;
    color: #02007b;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 2px solid #02007b;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 600;
    color: #02007b;
    text-transform: uppercase;
}

.services__title-link {
    text-decoration: none;
    color: #02007b;
}



@media (max-width: 992px) {
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    }
}

@media  (max-width: 900px) {
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }
}